<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">		
		<h1 th:text="${titulo}"></h1>		
	</div>
	
	<div class="container">
		
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nombre</th>
					<th scope="col">Descripción</th>
					
				</tr>
			</thead>
			<tbody>
			<tr th:each="cl:${equipos}">
					<th th:text="${cl.id_equipo}">></th>
					<th th:text="${cl.nombre}">></th>
					<th th:text="${cl.descripcion}">></th>
										
				</tr>
			</tbody>
		</table>


	</div>

	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>